block body
  h1 로그인
  p Local 로그인
    form(action='/local', method='post')
      label
        span 아이디
        input(type='text', name='user_id')
      label
        span 비밀번호
        input(type='password', name='password')
      button(type='submit') 로그인