block body
  h4 로그인되었습니다.
    p: a(href='/portfolio') 포트폴리오로 이동
    //- p 현재 로그인 된 사용자의 인증 제공자: #{req.user.provider}
    //- p 현재 로그인 된 사용자의 식별자: #{req.user.user_id}
    //- p 현재 로그인 된 사용자의 식별자: #{req.user.nickname}